spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/smartek_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  
  cloud:
    config:
      enabled: false

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

# JWT Configuration
jwt:
  secret: smartek-secret-key-for-jwt-token-generation-2024-very-secure
  expiration: 86400000 # 24 hours in milliseconds

# Logging
logging:
  level:
    root: INFO                    # niveau par défaut
    com.smartek: DEBUG            # tes packages (authservice, skill, etc.)
    org.springframework.security: DEBUG   # très utile ici
    org.springframework.web: DEBUG        # pour voir les requêtes entrantes
    org.springframework.web.filter: DEBUG # pour voir les filtres
